@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Berras Bio</h1>
    <p>Where you can enjoy bad movies with friends, family and all the above.</p>
    <h3>This is Me!!!!</h3>
    <hr />
    <div>
        <img style="max-height=500" src="~/Image/maxresdefault.jpg"/>
    </div>
    
</div>
